body {
    margin: auto;
    padding: 0px;
    text-align: center;
    font-family: Optima, sans-serif;
    background-color: rgb(226, 15, 15);
    color: white;
}

h1 {
    margin: 0;
    font-size: 50px;
    font-family: Luminari, cursive;
}

#main-content {
    display: flex;
    justify-content: space-evenly;
}

#grid-container {
    display: grid;
    width: 400px;
    height: 400px;
    background-color: white;
    border: inset rgb(194, 187, 187) 8px;
}
#grid-container > div{
    border: solid rgb(218, 219, 223) 0.1px;
}

#grid-features {
    display: flex;
    flex-direction: column;
}

#reset-button {
    display: block;
    margin: 10px auto 10px auto;
    border-radius: 7%;
    width: 150px;
    font-size: 100%;
    font-family: Optima, sans-serif;
}