body {
    margin: auto;
    padding: 0px;
    text-align: center;
    font-family: Optima, sans-serif;
    background-color: rgb(226, 15, 15);
    color: white;
}

h1 {
    margin: 0;
    font-size: 50px;
    font-family: Luminari, cursive;
}

#main-content {
    display: flex;
    justify-content: center;
}

#grid-container {
    display: grid;
    margin-right: 20px;
    width: 400px;
    height: 400px;
    background-color: white;
    border: inset rgb(194, 187, 187) 8px;
}
#grid-container > div{
    border: solid rgb(218, 219, 223) 0.1px;
}

#grid-features {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}

#dimension-slider {
    display: flex;
    flex-direction: column;
}

#dimension-header {
    font-size: 20px;
    font-weight: bold;
}

button {
    display: block;
    margin: 10px auto 10px auto;
    border-radius: 10%;
    width: 150px;
    font-size: 100%;
    font-family: Optima, sans-serif;
    color: rgb(141, 0, 0);
    background-color: white;
    border: solid rgb(141, 0, 0) 2px;
}

button.isSelected {
    color: white;
    background-color: rgb(141, 0, 0);
    border: double white 5px;
}